.u-section-1 .u-sheet-1 {
  min-height: 1399px;
}

.u-section-1 .u-text-1 {
  margin: 33px 875px 0 57px;
}

.u-section-1 .u-image-1 {
  width: 56px;
  height: 56px;
  margin: -54px 21px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 56px;
  height: 56px;
  margin: -54px 20px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: -42px 140px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -22px 390px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -24px 258px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 59px 812px 0 57px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 284px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 37px auto 0 57px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 417px 0 0;
}

.u-section-1 .u-image-3 {
  width: 61px;
  height: 22px;
  margin: -25px 20px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 218px;
  height: 9px;
  margin: 33px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 255px;
  height: 12px;
  margin: -12px 37px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 31px auto 0 3px;
}

.u-section-1 .u-text-8 {
  margin: -58px auto 0 88px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0 88px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 57px 796px 0 57px;
}

.u-section-1 .u-list-1 {
  width: 1121px;
  margin: 39px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 419px;
  grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
  grid-gap: 19px 19px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 173px;
  width: 361px;
  margin: 6px -2px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 45px;
  min-height: 25px;
  margin: -167px 9px 0 auto;
}

.u-section-1 .u-text-11 {
  width: 37px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 165px 40px 0 13px;
}

.u-section-1 .u-shape-1 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 12px auto 0 13px;
}

.u-section-1 .u-image-7 {
  width: 50px;
  height: 50px;
  background-image: url("../images/image9.png");
  background-position: 50% 50%;
  margin: -59px auto 0 22px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -49px 129px 0 103px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  margin: 2px 22px 0 103px;
}

.u-section-1 .u-text-15 {
  margin: 33px 161px 0 13px;
}

.u-section-1 .u-icon-3 {
  background-image: none;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: 9px 23px 0 13px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 9px 65px 0 38px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 173px;
  width: 361px;
  margin: 6px -2px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 45px;
  min-height: 25px;
  margin: -167px 9px 0 auto;
}

.u-section-1 .u-text-18 {
  width: 37px;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 165px 40px 0 13px;
}

.u-section-1 .u-shape-2 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 12px auto 0 13px;
}

.u-section-1 .u-image-9 {
  width: 50px;
  height: 50px;
  background-image: url("../images/image9.png");
  background-position: 50% 50%;
  margin: -59px auto 0 22px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -49px 129px 0 103px;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  margin: 2px 22px 0 103px;
}

.u-section-1 .u-text-22 {
  margin: 33px 161px 0 13px;
}

.u-section-1 .u-icon-5 {
  background-image: none;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 9px 23px 0 13px;
}

.u-section-1 .u-icon-6 {
  background-image: none;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: 9px 65px 0 38px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 173px;
  width: 361px;
  margin: 6px -2px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 45px;
  min-height: 25px;
  margin: -167px 9px 0 auto;
}

.u-section-1 .u-text-25 {
  width: 37px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 165px 40px 0 13px;
}

.u-section-1 .u-shape-3 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 12px auto 0 13px;
}

.u-section-1 .u-image-11 {
  width: 50px;
  height: 50px;
  background-image: url("../images/image9.png");
  background-position: 50% 50%;
  margin: -59px auto 0 22px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: -49px 129px 0 103px;
}

.u-section-1 .u-text-28 {
  font-size: 0.75rem;
  margin: 2px 22px 0 103px;
}

.u-section-1 .u-text-29 {
  margin: 33px 161px 0 13px;
}

.u-section-1 .u-icon-7 {
  background-image: none;
}

.u-section-1 .u-text-30 {
  font-size: 0.875rem;
  margin: 9px 23px 0 13px;
}

.u-section-1 .u-icon-8 {
  background-image: none;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 9px 65px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 732px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 321px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 669px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 653px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -133px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 39px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: 65px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 39px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -133px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 39px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 512px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 246px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 198px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 449px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 433px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 807px;
    grid-template-columns: calc(50% - 9.50003px) calc(50% - 9.50003px);
  }

  .u-section-1 .u-group-2 {
    margin-top: -155px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -155px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2215px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 332px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 149px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 269px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 253px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-2 {
    margin-top: -239px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 94px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 69px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 53px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    height: 163px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -146px;
  }

  .u-section-1 .u-image-8 {
    height: 163px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -157px;
  }

  .u-section-1 .u-image-10 {
    height: 163px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -146px;
  }
}